@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
/* ver se essebackground é melhor: https://external-preview.redd.it/iaMnzdRn7xiYtAmeatySxHdLeZW4ZmxtnxfcUGX-oNk.jpg?auto=webp&s=6adc0349cd0d7221c0873a1673d4b05a8b878d68 */
body {
    /* background-image: url(https://wallpapers.com/images/hd/light-black-background-1920-x-1080-ov3r9u7u0ttpzwsv.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: radial-gradient(circle at center, #1a1c2c, #000);
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}
::selection{
    background-color: rgb(32, 38, 95);
}
.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    height: 3.125rem;
    border-radius: 0.75rem;
    justify-content: space-between;
    border: 2px solid rgb(255, 255, 255) ;
    margin: 0.625rem;
    padding: 0 1em;
    font-family: "Pixelify Sans",Arial, sans-serif;
}
.loja-about{
    display: flex;
    justify-content: flex-start
}

.nav-list{
    display: flex;
    justify-content: flex-end
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
}
.navbar ul a:hover{
    background-color: white;
    color:black;
}
#nomeloja{
    padding: 1em;
}