@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* rem = numero de pixels / 16 ( base padrao)  seu uso aumenta a responsabilidade*/
/* Trocar tudo que é margem, altura, border-radius e espaçamentos externos para rem.

Trocar paddings internos que são relativos à fonte do elemento para em (como o padding dos links).

Bordas podem ficar em px, que é comum. */
body {
  background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-efeito-vhs_23-2150130954.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    height: 3.125rem;
    border-radius: 0.75rem;
    justify-content: space-between;
    border: 2px solid rgb(255, 255, 255) ;
    margin: 0.625rem;
    padding: 0 1em;
    transition: 0.2s; /*transição pra quando sair do hover */ 
    font-family: "Pixelify Sans",Arial, sans-serif;
    transition: 0.3s;
}
.loja-about{
    display: flex;
    justify-content: flex-start
}

.nav-list{
    display: flex;
    justify-content: flex-end
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    opacity: 1;
}
.navbar ul a:hover{
    background-color: white;
    color:black;
}
.navbar:hover{
    transition: 0.3s;

}
#nomeloja{
    padding: 1em;
}