.Game-infos{
    display: flex;
    flex-wrap: wrap;
}
.game-img{ /* aqui mexemos no container do jogo */
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}
.game-img img{ /*aqui na imagem do jogo */
    border-radius: 20px;
}
.stores{
    position: relative;
    flex-direction: column;
    right: 655px;
    margin-top: 20px;
    gap: 1rem;
}
.stores a{
    text-decoration: none;
}
.store img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
.banner-game{
    width: 700px;
    height: 400px;
    margin-top: 0.625rem;
    margin-left: 14rem;
}
.banner-game img{
    border-radius: 24px;
    height: 400px;
    width: 700px;
    
}
