.Jogos{
    display: flex;
    gap: 40px;
}
.Game-img{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    width: 183px;
    height: 280px;
}
.Game-img img{
    border-radius: 20px;
    width: 183px;
    height: 275px;
}
.Game-name{
    display: flex;
    margin-left: 45px;
    margin-top: 10px;
}
.Game-name a{
    text-decoration: none;
    color: white;
}
.Game-name:hover{
    scale: 1.1;
    transition: 0.3s;
}