
.Game-infos{
    display: flex;
    font-family: "Cinzel", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.banner-game{
    margin-top: 0.625rem;
    margin-left: 2rem;
}
.banner-game img{
    border-radius: 24px;
    height: 400px;
    width: 700px;
}
.game-introduction{
    height: 200px;
    text-align: justify;
    line-height: 30px;
    margin: 40px 20px;
}
.game-about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 10px;
    gap: 10px;
}
.game-about a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
.game-about a:hover{
    text-decoration: underline;
    transition: 0.4s;
}
.gameplay{
    width: 2rem;
    height: 1rem;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 70px; 
}
.gameplay img{
    width: 350px;
    height: 250px;
    border-radius: 20px;
}
.img-radiance{
    position: relative;
    left: 300px;
    bottom: 200px;
    width: 50px;
    height: 0px;
    z-index: 1;
}
.img-radiance img{
    width: 200px;
}