body {
  background: linear-gradient(90deg, #000, #434343);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50px;
    justify-content: space-between;
    border-radius: 12px;
    border: 2px solid rgb(255, 255, 255) ;
    margin: 10px;
    padding: 0 16px;
    transition: 0.2s; /*transição pra quando sair do hover */
    opacity: 0.8; 
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 16px;
    opacity: 1;
}
.navbar:hover{
    transition: 0.5s;
}
#nomeloja{
    padding: 16px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.emojis{
    position: absolute;
    display: flex;
    width: 500px;
    height: 400px;
}
#botaoentrar {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, #000, #737373);
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}

