#nomeloja{
    padding: 16px;
}
.game-img{ /* aqui mexemos no container do jogo */
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 30px;
}
.game-img img{ /*aqui na imagem do jogo */
    border-radius: 20px;
}
.stores{
    display: flex;
    position: relative;
    flex-direction: column;
    right: 655px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.stores a{
    text-decoration: none;
}
.playstation img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
#preco-ps{
    position: relative;
    top: -13px;
}
.steam img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
#preco-steam{
    position: relative;
    top: -13px;
}
.banner-game{
    display: flex;
    position: relative;
    width: 700px;
    height: 400px;
    left: 800px;
    bottom: 450px;
}
.banner-game img{
    border-radius: 24px;
    height: 400px;
    width: 700px;
    
}