.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-family: "Pixelify Sans";
}
.emojis{
    display: flex;
    width: 1300px;
    height: 300px;
}
#mala{
    position: relative;
    left: 0px;
}
#surprise{
    position: relative;
    left: 400px;  /*distancia da esquerda da posição normal do elemento */
}
#botaoentrar {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    background: #0f0f13;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px;
    transition: 0.4s;
}
#botaoentrar:hover{
    color: black;
    background-color: #f2f5f7;
    border: #f2f5f7;
    transition: 0.4s;
    scale: 1.3;
}

