body {
  background: linear-gradient(90deg, #000, #434343);
  color: white;
  font-family: "Pixelify Sans",Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50px;
    justify-content: space-between;
    border-radius: 12px;
    border: 2px solid rgb(255, 255, 255) ;
    margin: 10px;
    padding: 0 16px;
    transition: 0.2s; /*transição pra quando sair do hover */
    opacity: 0.8; 
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 16px;
    opacity: 1;
}
.navbar ul a:hover{
    background-color: white;
    color:black;
}
.navbar:hover{
    transition: 0.2s;
    opacity: 1;

}
#nomeloja{
    padding: 16px;
}
.game-img{ /* aqui mexemos no container do jogo */
    display: flex;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 30px;
}
.game-img img{ /*aqui na imagem do jogo */
    border-radius: 20px;
}
.stores{
    display: flex;
    flex-direction: column;
    margin-left: -530px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.stores a{
    text-decoration: none;
}
.playstation img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
#preco-ps{
    position: relative;
    top: -13px;
}
.steam img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}