
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Press Start 2P", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 1rem;
    font-size: 3.5rem;
    animation: inout 4s infinite ease-in-out;
}

#botaoentrar {
    display: flex;
    justify-content: center;
    line-height: 1.875; /* equivale a 30px, só que flexível */
    text-align: center;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
    font-family: "Pixelify Sans",Arial, sans-serif;
    font-size: 2rem;
}
#botaoentrar:hover{
    animation: piscar 1.1s infinite;
    transition: 0.3s;
    scale: 1.2;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about h3{
    font-size: 12px;
    font-family: 'Press Start 2P';
    font-weight: 100;
    margin-top: 200px;
}
/* responsivo */
@media screen and (max-width: 768px) {
    .text{
        font-size: 2rem;
    }
    #botaoentrar{
        font-size: 1.5rem;
    }
    
}

/* frames da animação de piscar quando hover */
@keyframes piscar {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* animação do titulo */
@keyframes inout{
    0%{scale: 1;
        transform: rotate(0deg);}

    25%{scale: 1.2;
    transform: rotate(5deg);
    }

    50%{
        scale: 1;
        transform: rotate(0deg);
    }
    75%{
        scale: 1.2;
        transform: rotate(-5deg);
    }
    100%{
        scale: 1;
        transform: rotate(0deg);
    }
}
#instagram{
    text-decoration: none;
    color: white;
}