body{
    height: 150vh;
}
::-webkit-scrollbar{
    display: none;
}
.about-team{
    display: flex;
    flex-direction: column;
}
.text-introduct{
    font-family: "Cinzel", serif;
    color: #E6E6E6;
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.devs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    font-family: "Cinzel", serif;
    margin-top: 20px;
    padding: 20px;
}
.devs img{
    transition: 0.5s;
}
.devs img:hover{
    scale: 1.1;
    transition: 0.5s;
}
.about-dev {
    width: 300px;
}
@media  screen and (max-width: 764px) {
    body{
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}